# ===============================================
# Archivos de codigo C/C++ (Generales)
# ===============================================
# Archivos objeto de compilacion
*.o
*.obj
*.ko
*.mod.o

# Binarios/Ejecutables generados
*.axf
*.bin
*.out
*.exe

# Archivos de libreria estaticas y dinamicas
*.a
*.lib
*.so

# Archivos de mapa y depuracion
*.map
*.su
*.d

# ===============================================
# Archivos generados por LaTeX/PDF
# ===============================================
## Archivos auxiliares principales de LaTeX/pdflatex
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.bbl
*.bcf
*.blg
*.idx
*.ind
*.ilg
*.toc
*.snm
*.nav
*.vrb

## Archivos de salida
Informe.pdf
*.dvi

## Archivos de sincronizacion y otros temporales
*.synctex.gz
*.gz
-converted-to.* # Regla para ignorar archivos de imagen convertidos (epstopdf)

## CMake

# Archivos de caché y configuración
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Archivos de Altium
__Previews/
History/
Project Logs for ECGAquisitionBoard/



# ===============================================
# Archivos temporales y de sistema comunes
# ===============================================
*~
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
ehthumbs.db
*.stackdump
